# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.android/
.ios/
.idea/
.vscode/
bin/
build/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Native build artifacts
**/android/.cxx/
**/android/.gradle/
**/android/local.properties

android/app/.cxx/
android/app/.cxx/Debug/4x22w4f2/arm64-v8a/configure_fingerprint.bin
android/app/.cxx/Debug/4x22w4f2/armeabi-v7a/configure_fingerprint.bin











**/generated_plugin_registrant.dart
**/ios/Flutter/flutter_export_environment.sh
**/android/Flutter/flutter_export_environment.sh
pubspec.lock
